.mailItem {
  cursor: pointer;
  border: 1px solid var(--mantine-color-gray-2);
  @mixin hover {
      background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-dark-7));
  }
}

.active {
    background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-dark-7));
    border: 1px solid var(--mantine-color-blue-3);
}

.unread {
  border-left: 3px solid var(--mantine-color-blue-4);
}